In [1]:
import vaex
import pandas as pd

In [2]:
# df = vaex.from_csv('/Users/pauliuskomskis/Desktop/github/data/cars.csv', 
#               copy_index=False, chunk_size=None, convert=False, 
#               fs_options={}, fs=None)
# df

df = pd.read_csv('/Users/pauliuskomskis/Desktop/github/data/cars.csv')
df.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,drive,size,type,paint_color,image_url,description,county,state,lat,long
0,7307730503,https://auburn.craigslist.org/cto/d/opelika-ha...,auburn,https://auburn.craigslist.org,9500,2003.0,chrysler,town & country,excellent,6 cylinders,...,fwd,mid-size,mini-van,blue,https://images.craigslist.org/00w0w_41YO8cHlW3...,2003 Chrysler Town and Country Handicapped Acc...,NaN,al,32.614209,-85.326357
1,7307218858,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,28990,2018.0,gmc,acadia sle-2 sport utility,good,6 cylinders,...,fwd,NaN,other,white,https://images.craigslist.org/00c0c_kXhBir3Ii6...,Carvana is the safer way to buy a car During t...,NaN,al,32.590000,-85.480000
2,7307164168,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,16590,2013.0,lincoln,mkz sedan 4d,good,NaN,...,fwd,NaN,sedan,red,https://images.craigslist.org/00N0N_1xMPvfxRAI...,Carvana is the safer way to buy a car During t...,NaN,al,32.590000,-85.480000
3,7307164193,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,28990,2017.0,gmc,acadia slt-1 sport utility,good,6 cylinders,...,fwd,NaN,other,NaN,https://images.craigslist.org/00w0w_b3G8mxfApI...,Carvana is the safer way to buy a car During t...,NaN,al,32.590000,-85.480000
4,7307142186,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,20590,2017.0,lincoln,mkz premiere sedan 4d,good,NaN,...,fwd,NaN,sedan,NaN,https://images.craigslist.org/00F0F_ghX7UUlnBr...,Carvana is the safer way to buy a car During t...,NaN,al,32.590000,-85.480000

In [3]:
df.drop(columns=['id', 'url', 'region_url', 'condition', 'VIN', 'image_url', 'county'], inplace=True)

In [4]:
df.head()

,region,price,year,manufacturer,model,cylinders,fuel,odometer,title_status,transmission,drive,size,type,paint_color,description,state,lat,long
0,auburn,9500,2003.0,chrysler,town & country,6 cylinders,gas,30376.0,clean,automatic,fwd,mid-size,mini-van,blue,2003 Chrysler Town and Country Handicapped Acc...,al,32.614209,-85.326357
1,auburn,28990,2018.0,gmc,acadia sle-2 sport utility,6 cylinders,gas,20736.0,clean,other,fwd,NaN,other,white,Carvana is the safer way to buy a car During t...,al,32.590000,-85.480000
2,auburn,16590,2013.0,lincoln,mkz sedan 4d,NaN,gas,61087.0,clean,other,fwd,NaN,sedan,red,Carvana is the safer way to buy a car During t...,al,32.590000,-85.480000
3,auburn,28990,2017.0,gmc,acadia slt-1 sport utility,6 cylinders,gas,18041.0,clean,other,fwd,NaN,other,NaN,Carvana is the safer way to buy a car During t...,al,32.590000,-85.480000
4,auburn,20590,2017.0,lincoln,mkz premiere sedan 4d,NaN,gas,36436.0,clean,other,fwd,NaN,sedan,NaN,Carvana is the safer way to buy a car During t...,al,32.590000,-85.480000

 #### 1. What are top car makes and models sold across US?

In [5]:
quest_1 = df['manufacturer'].value_counts().nlargest(10)
quest_1

ford         70467
chevrolet    56172
toyota       35508
honda        22066
nissan       20072
jeep         19517
ram          18335
gmc          16420
bmw          15900
dodge        13972
Name: manufacturer, dtype: int64

In [6]:
df[['manufacturer', 'state']].value_counts()

manufacturer  state
ford          ca       7296
toyota        ca       5707
chevrolet     ca       5655
ford          fl       4871
              tx       4403
                       ...
land rover    al          1
saturn        ut          1
jaguar        sd          1
              ne          1
ferrari       co          1
Length: 1921, dtype: int64

In [7]:
popular_filt = df[['manufacturer', 'model']].value_counts().nlargest(7)

In [8]:
popular_filt

manufacturer  model
ford          f-150             8006
chevrolet     silverado 1500    5466
ram           1500              4152
toyota        camry             3344
honda         accord            3267
chevrolet     silverado         3112
honda         civic             3011
dtype: int64

### So the most popular makes and models across US are displayed above. Appears pickups of Ford, Chevy and Ram 1500 models are the most bought

## Lets look whats happening in SC :

In [9]:
sc_filt = (df['state'] == 'sc')

In [10]:
df.loc[sc_filt, 'manufacturer'].value_counts()

ford             948
chevrolet        916
toyota           500
gmc              338
honda            312
nissan           293
jeep             272
mercedes-benz    258
bmw              233
dodge            204
ram              204
lexus            191
volkswagen       175
hyundai          170
kia              165
infiniti         132
cadillac         126
lincoln          124
audi             124
buick            117
acura            102
chrysler         100
mitsubishi        67
subaru            67
mazda             58
jaguar            58
volvo             48
pontiac           43
mini              34
rover             31
alfa-romeo        29
fiat              20
porsche           18
mercury           12
tesla             10
saturn             9
ferrari            1
Name: manufacturer, dtype: int64

#### Most popular manufacturers include Ford, Chevy
#### Lets see which models of those are amongst the top:

In [11]:
df.loc[sc_filt, 'model'].value_counts().nlargest(7)

silverado 1500    133
f-150             100
wrangler           73
corvette           65
odyssey            41
sierra 1500        40
m-class            39
Name: model, dtype: int64

### Silverado 1500 , F-150 are amongs the top

In [15]:
make_filt = (df['manufacturer'] > 'ford') & (df['model'] == 'f-150')

In [32]:
prices = df.loc[make_filt, 'price'].max()

nan